@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;800&display=swap');

.wrapper-container {
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #fff;
  display: flex;
  margin: 0;
  padding: 0;
}

.visual {
  background-image: url('https://storage.googleapis.com/theme-vessel-items/checking-sites/logdy-2-html/HTML/main/assets/img/img-12.jpg');
  width: 50%;
  position: relative;
}
.visual:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(74 0 255 / 64%);
}

.image-container {
  position: relative;
  margin-bottom: 30px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form-wrapper form label {
  color: #535353;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.form-wrapper form input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #d6d6d6;
  background: #fff;
  outline: none;
  color: #535353;
  border-radius: 0;
  height: 35px;
  margin-bottom: 30px;
}
.form-wrapper form button {
  width: 100%;
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 800;
  font-family: 'Jost', sans-serif;
  border: none;
  padding: 15px 0;
  text-transform: capitalize;
  background: #3a04a7;

  text-transform: capitalize;
  background: #3a04a7;
}

h1 {
  text-align: center;
  font-family: 'Jost', sans-serif;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: url('https://storage.googleapis.com/theme-vessel-items/checking-sites/logdy-2-html/HTML/main/assets/img/animated-text.png')
    repeat-y;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aitf 80s linear infinite;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-backface-visibility: hidden;
  font-size: 2.9em;
  width: 70%;
}

@keyframes aitf {
  /* Versione senza prefisso per non-webkit browsers */
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  /* Versione senza prefisso per non-webkit browsers */
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
