.button {
  border: 1px solid #ca7015;
  background: #3a04a7;
  color: #ca7015;
  padding: 10px 55px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 17px;
}

.button:hover {
  background: #ca7015;
  color: #3a04a7;
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  background: #3a04a7;
  color: #fff;
  padding: 0 15px;
  align-items: center;
}
